# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OXID6-Module\cms2banner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
